.user {
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.user img {
    max-width: 512px;
    max-height: 500px;
    margin: -1rem auto;
    text-align: right;
    border-bottom-left-radius: 90%;
    border-top-right-radius: 90%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 25%;
}

.user h2 {
    padding-top: 30%;

}
.user span {
    color: #593cfb;
    text-decoration-line: underline wavy;
}

.user span:first-of-type {
    background-color: #593cfb;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

.user p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    padding: 1.5rem 0;
}

.user button {
    background-color: #593cfb;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 18px;
    border: none;
}

.user button:hover {
    background-color: #4733b7;
    transition: background-color 1s;
}

@media screen and (max-width: 768px) {
    .user {
        grid-template-columns: 1fr;
        margin: -5rem auto;
    }

    .user img {
        margin-top: -4rem;
        max-width: 60%;
        max-height: 50%;
        border-bottom-left-radius: 50%;
        border-top-right-radius: 50%;
        margin: auto;
    }

    .user .left {
        display: flex;
        justify-content: center;
    }

    .user h2 {
        padding-top: 10%;
        margin-top: -5rem;
        display: block;
        text-align: center;

    }
    .user p {
        display: block;
        text-align: center;
    }
    
    button {
        margin: 10px auto;
        display: block;
    }



}
